# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Publish

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 15

    env:
      MAJOR_VERSION: 0
      MINOR_VERSION: 3
      BRANCH_NAME: ${{ github.head_ref || github.ref_name }} 

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Set version
      run: |
        VERSION="${{env.MAJOR_VERSION}}.${{env.MINOR_VERSION}}.${{github.run_number}}"
        if [[ "$BRANCH_NAME" != "main" ]]
        then
          VERSION="${VERSION}-ci$(date +'%Y%m%dT%H%M%S')"
        fi
        echo "Buid version is $VERSION"
        find ./src -name "*.csproj" -exec sed -i "s/<Version>[0-9]\+\.[0-9]\+\.[0-9]\+/<Version>$VERSION/g" {} \;

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal

    - name: Pack
      run: |
        mkdir -p ./nuget
        find ./src -name "*.csproj" -exec dotnet pack --configuration Release --no-build --output ./nuget {} \;

    - name: Publish NuGet packages
      run: dotnet nuget push "./nuget/*.nupkg" \
            --api-key "${{ secrets.NUGET_API_KEY }}" \
            --source "https://api.nuget.org/v3/index.json" \
            --skip-duplicate